body {
}
.btn {
    border-radius: 20px;
    height: 40px;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow:0 0 20px black;
}

.btn2 {
    width: 10%;
}

.btn3 
{
	box-shadow:0 0 20px black;
    background-color: transparent;
    color: white;
    border :1px solid #5dade2;
}

    .btn3:hover 
    {
        background-color:Orange;
        color: black;
    }
.l1
{
	text-decoration :none;
}

	.l1:hover
	{
		color:Orange ;
	}